@layer components {
  .cmp-card {
    border-radius: var(--radius-2xl, 1rem);
    border-style: var(--tw-border-style);
    border-width: 1px;
    border-color: var(--color-card-border, color-mix(in srgb, oklch(92.9% 0.013 255.508) 80%, transparent));
    background-color: var(--color-card-bg, var(--color-white));
    padding: calc(var(--spacing, 0.25rem) * 3);
    padding-top: calc(var(--spacing, 0.25rem) * 3);
    color: var(--color-card-foreground, var(--color-slate-500));
    --tw-shadow: 0 1px 3px 0 var(--tw-shadow-color, rgb(0 0 0 / 0.1)), 0 1px 2px -1px var(--tw-shadow-color, rgb(0 0 0 / 0.1));
    box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
    @media (width >= 40rem) {
      padding: calc(var(--spacing, 0.25rem) * 4);
    }
    @media (width >= 40rem) {
      padding-top: calc(var(--spacing, 0.25rem) * 4);
    }
  }
  .overall-scores-container {
    grid-column: span 3 / span 3;
  }
}
