.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  gap: 24px;
}

.cards > ul > li {
  border: 1px solid #dadada;
  background-color: var(--background-color);
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.overall-scores .cards > ul {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.overall-scores .cards > ul > li {
  width: 218.83px;
  height: 140px;
  border-radius: 10px;
  padding: 25px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.12);
}

.overall-scores .cards .cards-card-body {
    margin: unset;
}

.overall-scores .cards .cards-card-body > p:nth-of-type(2){
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.15px;
  line-height: 20px;
  color: #4A5565;
}

.overall-scores .cards > ul > li img {
  width: 38px;
  height: 38px;
}

.overall-scores .cards .cards-ui-quality-score-number {
  display: block;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.4px;
  line-height: 36px;
  color: #1f2937;
  float: right;
}

.overall-scores .cards .cards-ui-quality-score-number.cards-ui-quality-score-number--high {
  color: #2B7FFF;
}

.overall-scores .cards .cards-ui-quality-score-number.cards-ui-quality-score-number--medium {
  color: #F0B100;
}

.overall-scores .cards .cards-ui-quality-score-number.cards-ui-quality-score-number--low {
  color: #ef4444;
}

.overall-scores .cards .cards-ui-quality-score {
  margin-top: 16px;
  width: 100%;
  height: 28px;
  position: relative;
  overflow: hidden;
  margin-left: -8px;
}

.overall-scores .cards .cards-ui-quality-score canvas {
  width: 100% !important;
  height: 9px !important;
  position: relative;
  z-index: 1;
  display: block;
  margin: 0 auto;
}
