@layer components {
  .cmp-card {
    --tw-shadow: 0 4px 6px -1px var(--tw-shadow-color, rgb(0 0 0 / 0.1)), 0 2px 4px -2px var(--tw-shadow-color, rgb(0 0 0 / 0.1));
    box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
    @media (width >= 768px) {
      background-color: var(--color-theme-bg, #fff);
    }
    p {
      color: oklch(51.1% 0.262 276.966deg);
    }
  }
}
